.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.text-center {
    text-align: center;
}
.mx-2{
    margin: 0 2% 0 2%;
}
.pt-10{
    padding-top: 10%;
}
.mt-2{
    margin-top: 2%;
}
.mt-5{
    margin-top: 5%;
}
.py-2{
    padding : 2% 0 2% 0;
}
.no-cover {
    object-fit: none;
}

.argonaut-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 50%;
}
.argonaut-list-item {
    justify-content: space-evenly;
    display: flex;
    flex-basis: 33.33%;
}
.argonaut-list-item > div{
    display: inline-block;
    text-align: left;
    min-width: 25%;
    margin: 5%;
}